<ul class="alert alert-danger" *ngIf="(errores?.length ?? 0) > 0">
    <li *ngFor="let err of errores">
        {{ err }}
    </li>
</ul>
<div class="card bg-dark text-white">
    <div class="card-header">{{ titulo }}</div>
    <div class="card-body">

        <form #paqueteForm="ngForm">
            <div class="form-group row">
                <label for="pedido" class="col-sm-2 col-form-label col-sm-2">Pedido</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="paquete.pedido" name="pedido">
                </div>
            </div>

            <div class="form-group row">
                <label for="precio" class="col-sm-2 col-form-label col-sm-2">Precio</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="paquete.precio" name="precio">
                </div>
            </div>

            <div class="form-group row">
                <label for="destino" class="col-sm-2 col-form-label col-sm-2">Destino</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="paquete.destino" name="destino">
                </div>
            </div>

            <div class="form-group row">
                <label for="fecha" class="col-sm-2 col-form-label col-sm-2">Fecha</label>
                <div class="col-sm-6">
                    <input [matDatepicker]="miDatepicker" class="form-control" [(ngModel)]="paquete.fecha" name="fecha" style="display:inline; width:300px;" #fecha="ngModel">
                    <mat-datepicker-toggle [for]="miDatepicker"></mat-datepicker-toggle>
                    <mat-datepicker #miDatepicker></mat-datepicker>

                    <div class="alert alert-danger" *ngIf="fecha.invalid && (fecha.dirty || fecha.touched)">
                        <div *ngIf="fecha.errors?.['required']">
                            La fecha es requerida
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-6">
                    <button class="btn btn-primary" role="button" (click)="create()" *ngIf="!paquete.id else elseBlock" [disabled]="!paqueteForm.form.valid">Crear</button>

                    <ng-template #elseBlock>
                        <button class="btn btn-primary" role="button" (click)="update()">Editar</button>
                    </ng-template>
                </div>
            </div>

        </form>

    </div>
</div>